/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8fa;
}

header {
  background: blue;
  /* display: flex;  */
  height: 600px;
}

nav {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 40px;
}

.nav-item {
  color: #ffffff;
  padding: 20px 15px
}

.nav-item-active {
  background-color: #ffffff;
  color: blue;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.logo {
  position: relative;
  margin-top: -50px;
  margin-left: 50px;
  width: 150px;
}

.header-text {
  position: relative;
  margin-top: 100px;
  margin-left: 50px;
  color: #ffffff;
}

.header-text h2 {
  font-size: 3em;
  margin-top: 15px;
}

.header-text p {
  font-size: 1.3em;
  margin-top: 10px;
}

.header-image {
  width: 700px;
  position: absolute;
  right: 0px;
  bottom: 50px;
}

.companies {
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
}

.company-items {
  text-decoration: none;
  color: black;
}

.api {
  margin-top: 80px;
  margin-left: 50px;
}

.api-heading {
  font-size: 3em;
  font-weight: bold;
}

.cards {
  /* margin-top: 40px; */
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 50px;
}

.card-active {
  background-color: #ffffff;
  width: 18%;
  height: 270px;
  border-radius: 10px;
  box-shadow: 2px 1px 10px 2px #888888;
}

.card-active .card-logo {
  width: 50px;
  position: relative;
  top: 50px;
  left: 20px;
}

.card-head-active {
  position: relative;
  top: 60px;
  left: 20px;
  font-size: 1.5em;
  color: #5d34fc;
}

.card-active p {
  position: relative;
  top: 60px;
  left: 20px;
  font-size: 1em;
}

.card .card-logo {
  width: 50px;
  position: relative;
  top: 50px;
  left: 20px;
}

.card-head {
  position: relative;
  top: 60px;
  left: 20px;
  font-size: 1.5em;
}

.card-body {
  position: relative;
  top: 60px;
  left: 20px;
  font-size: 1em;
}

.blog-heading {
  margin-top: 80px;
  margin-left: 50px;
  font-size: 1.5em;
  font-weight: bold;
}

.blog-cards {
  display: flex;
  /* justify-content: space-around; */
}

.blog-card {
  display: flex;
  background-color: #fff;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  width: 48%;
  height: 350px;
  border-radius: 50px 20px 20px 20px;
  position: relative;
}

.blog-image img {
  display: flex;
  height: 350px;
}

.blog-content {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 50px;
}

.blog-content h6 {
  color: #5d34fc;
  font-size: 1em;
  font-weight: bold;
}

.blog-content h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 12px 0px;
}

.blog-content small {
  font-size: 1em;
}

.blog-card-bottom-image {
  position: absolute;
  bottom: -30px;
  right: 200px;
}

.blog-author {
  position: absolute;
  bottom: 0px;
  right: 60px;
}

/* FAQ SECTION */
.faq-section {
  display: flex;
  margin-top: 100px;
  background-color: #e9edff;
  justify-content: space-between;
  height: 400px;
}

.faq-content {
  margin-top: 50px;
  margin-left: 50px;
}

.faq-content h2 {
  font-size: 2.5em;
  font-weight: bold;
}

.faq-hading {
  color: #888888;
}

.faq-content h4 {
  margin-top: 30px;
}

.faq-image img {
  height: 400px;
}

.faq-content button {
  background-color: #4b4bf4;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.download-section {
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
}

.download-content h1 {
  font-weight: bolder;
}

.download-email input {
  position: relative;
  padding: 20px 30px;
  padding-right: 150px;
  width: 500px;
  right: -100px;
  border: none;
  background-color: #e9edff;
  border-radius: 30px;
  font-size: 1em;
  font-weight: bolder;
}

.download-email button {
  position: relative;
  right: 50px;
  padding: 13px 30px;
  font-size: 1em;
  color: #ffffff;
  background-color: #4b4bf4;
  border: none;
  border-radius: 25px ;
}

.footer-section{
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}

.footer-logo{
  width: 150px;
  margin-left: 30px;
}

.footer-left{
  margin-left: 50px;
}

.list{
  display: flex;
}

.list-items{
  margin-top: 20px;
  list-style: none;
  padding: 0px 20px;
  color: #ffffff;
  border-right: 2px solid #ffffff;
}

.footer-right{
  display: flex;
}

.logos-list{
  display: flex;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #f8f8fa;
  }
  
  header {
    background: blue;
    height: 550px;
  }
  
  nav {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0px 10px;
  }
  
  .nav-item {
    color: #ffffff;
    padding: 20px 5px;
    font-size: 0.7em;
  }
  
  .nav-item-active {
    padding: 5px 10px;
    font-size: 0.7em;
  }
  
  .logo {
    position: relative;
    margin-top: -50px;
    margin-left: 20px;
    width: 70px;
  }
  
  .header-text {
    margin-top: 230px;
    margin-left: 20px;
  }
  
  .header-text h2 {
    font-size: 1.5em;
    margin-top: 40px;
  }
  
  .header-text p {
    font-size: 1em;
    margin-top: 10px;
  }
  
  .header-image {
    width: 250px;
    position: absolute;
    right: 0px;
    bottom: 360px;
  }
  
  .companies {
    width: 100%;
    font-size: 0.7em;
  }
  /* api section */
  .api {
    margin-top: 40px;
    margin-left: 20px;
  }
  
  .api-heading {
    font-size: 1.5em;
  }
  
  .cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
  }
  
  .card-active {
    background-color: #ffffff;
    width: 250px;
    border-radius: 10px;
    box-shadow: 2px 1px 10px 2px #888888;
  }

  .card{
    width: 250px;
    height: 250px;
  }

  /* blog section */
  .blog-heading {
    margin-top: 40px;
    margin-left: 20px;
    font-size: 0.8em;
  }
  
  .blog-cards {
    display: flex;
    flex-direction: column;
  }
  
  .blog-card {
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    width: 320px;
    height: 250px;
    border-radius: 50px 20px 20px 20px;
    position: relative;
  }
  
  .blog-image img {
    display: flex;
    height: 150px;
  }
  
  .blog-content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .blog-content h6 {
    font-size: 0.8em;
  }
  
  .blog-content h3 {
    font-size: 1em;
    margin: 8px 0px;
  }
  
  .blog-content small {
    font-size: 0.8em;
  }
  
  .blog-card-bottom-image {
    position: absolute;
    bottom: -30px;
    right: 200px;
  }
  
  .blog-author {
    position: absolute;
    bottom: 0px;
    right: 70px;
    font-size: 0.8em;
  }
  
  /* FAQ SECTION */
  .faq-section {
    margin-top: 70px;
    height: 400px;
  }
  
  .faq-content {
    margin-top: 30px;
    margin-left: 20px;
  }
  
  .faq-content h2 {
    font-size: 1.8em;
  }
  
  .faq-content h4 {
    margin-top: 20px;
    font-size: 0.8em;
  }
  
  .faq-image img {
      display: none;
  }
  
  .faq-content button {
    background-color: #4b4bf4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* downlod section */
  .download-section {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 40px;
  }
  
  .download-content h1 {
    font-weight: bolder;
  }
  
  .download-email input {
    position: relative;
    padding: 10px 15px;
    padding-right: 0px;
    width: 300px;
    right: -5px;
    border: none;
    background-color: #e9edff;
    border-radius: 30px;
    font-size: 0.8em;
  }
  
  .download-email button {
    position: relative;
    top: -39px;
    right: -220px;
    padding: 10px 6x;
    font-size: 0.5em;
    color: #ffffff;
    background-color: #4b4bf4;
    border: none;
    border-radius: 25px ;
  }
  
  /* footer section */
  .footer-section{
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
  }
  
  .footer-logo{
    width: 100px;
    margin-left: 20px;
  }
  
  .footer-left{
    margin-left: 20px;
  }
  
  .list{
    display: flex;
  }
  
  .list-items{
    margin: 10px 0px;
    list-style: none;
    padding: 0px 5px;
    color: #ffffff;
    border-right: none;
    font-size: 0.5em;
  }
  
  .footer-right{
    display: flex;
  }
  
  .logos-list{
    display: flex;
  }
}